<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">

        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                            <li class="nav-item active"><i class="oi oi-caret-right"></i>
                                    <span th:text="#{cliente.cadastrar.label}"></span></li>
                    </ul>
                    <a class="btn btn-primary btn-md" th:href="@{/admin/listarClientes}"
                            role="button"> <span class="oi oi-spreadsheet" title="Listar"
                            aria-hidden="true"></span> <span th:text="#{cliente.listar.label}"></span>
                    </a>
            </div>
        </nav>

        <div class="container" id="cadastro">

            <div th:replace="fragments/alert"></div>

            <form
                th:action="${cliente.id == null} ? @{/admin/salvarCliente} : @{/admin/editarCliente}"
                th:object="${cliente}" method="POST">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label th:text="#{cliente.nome.label}" for="nome"></label> 
                        <input type="text" class="form-control" id="nome" autofocus="autofocus"
                                th:field="*{nome}" th:placeholder="#{cliente.nome.label}"
                                th:classappend="${#fields.hasErrors('nome')} ? is-invalid" required />

                        <div class="invalid-feedback">
                                <span th:errors="*{nome}"></span>
                        </div>
                    </div>				
                        <div class="form-group col-md-6">
                            <label th:text="#{cliente.cpf.label}" for="cpf"></label> 
                            <input type="text" class="form-control" id="cpf" autofocus="autofocus"
                                    th:field="*{cpf}" placeholder="_____-___"
                                    data-mask="000.000.000-00" data-mask-reverse="true"
                                    th:classappend="${#fields.hasErrors('cpf')} ? is-invalid" required />

                            <div class="invalid-feedback">
                                    <span th:errors="*{cpf}"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label th:text="#{cliente.nascimento.label}" for="nascimento"></label> 
                            <input type="date" class="form-control" id="nascimento" autofocus="autofocus"
                                    th:field="*{nascimento}" th:placeholder="#{cliente.nascimento.label}"
                                    th:classappend="${#fields.hasErrors('nascimento')} ? is-invalid" required/>

                            <div class="invalid-feedback">
                                    <span th:errors="*{nascimento}"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label th:text="#{cliente.sexo.label}" for="sexo" required></label> 
                            <select class="form-control" name="sexo" id="sexo">
                                            <option value="FEMININO" th:text="#{cliente.sexo.feminino.label}"></option>
                                            <option value="MASCULINO" th:text="#{cliente.sexo.masculino.label}"></option>
                            </select>
                        </div>	
                        <div class="form-group col-md-6">
                            <label th:text="#{cliente.telefone.label}" for="telefone"></label> 
                            <input type="text" class="form-control" id="cpf" autofocus="autofocus"
                                    th:field="*{telefone}" placeholder="+55(__)_____-____"
                                    data-mask="+00(00)00000-0000" data-mask-reverse="true"
                                    th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" required/>

                            <div class="invalid-feedback">
                                <span th:errors="*{telefone}"></span>
                            </div>
                        </div>

                        <div th:if="${cliente.id == null}">
                            <div id="usuario" th:object="${usuario}">
                                <div class="form-group col-md-6">
                                    <label th:text="#{login.username}" for="email"></label> 
                                    <input type="email" class="form-control" id="email" autofocus="autofocus"
                                            th:field="*{email}" th:placeholder="#{login.username}"
                                            th:classappend="${#fields.hasErrors('email')} ? is-invalid" required/>

                                    <div class="invalid-feedback">
                                            <span th:errors="*{email}"></span>
                                    </div>
                                </div>
                            
                            
                                <input type="hidden" id="email" th:field="*{email}" />
                                <div class="form-group col-md-6">
                                    <label th:text="#{login.password}" for="senha"></label> 
                                    <input type="password" class="form-control" id="senha" autofocus="autofocus"
                                            th:field="*{senha}" th:placeholder="#{login.password}"
                                            th:classappend="${#fields.hasErrors('senha')} ? is-invalid" required />

                                    <div class="invalid-feedback">
                                            <span th:errors="*{senha}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <input type="hidden" id="id" th:field="*{id}" />
                <button type="submit" th:text="#{button.salvar.label}"
                        class="btn btn-primary btn-sm"></button>
            </form>
        </div>
    </section>
</body>
</html>